body {
  font-family: "Inconsolata", monospace;
}

/* ===== Global Stylings ===== */
.header-txt {
  margin-top: 32px;
}

/* ===== New Show page styles */
form > .sm-margin-top {
  margin-top: 16px;
}

div > div#detail {
  margin-top: 16px;
}

/* h4.sm-margin-top {
  margin-top: 16px;
} */

/* div.col-md-8 h4.sm-margin-top {
  margin-top: 16px;
} */

/* h4 {
  margin-top: 16px;
} */

/* div.container > div.row > div.col-md-8 > h4 {
  margin-top: 16px;
} */

h4#show-info {
  margin-top: 30px;
}

.center {
  /* right: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #input-description input {
  height: 112px;
  padding: 10px 0;
} */
